@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

html, body{
    font-family: 'Overpass', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}

#navbar{
    width: 100%;
    background: #393939;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

#navbar ul{
    list-style: none;
    display: flex;
    padding-right: 30px;
}

#navbar img{
    border-radius: 50%;
    width: 50px;
    align-self: center;
    padding: 10px;
}


#title{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;


}

#title canvas{
    background-image: "/home/Pictures/wallpapers/14 - EZ7un71.jpg";
    position: absolute;
    width: 100%;
    height: 100%;
}

#title img{
    border-radius: 50%;
    width: 300px;
    align-self: center;


}

#title h1{
    font-size: 80px;
    margin: 10px;
}

#title h2{
    margin: 10px;
}

#title div{
    margin-top: 20px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#banner div svg {
    fill: #fff;
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
